<% content_for :title_bar do %>
  <% if policy(Project).new? %>
    <%= link_to t('projects.new project'), new_project_path, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div id="projects" class="projects-list">
  <div class="row item">
    <div class="col-md-12">
      <% if @projects[:is_member].empty? %>
        <div class="col-md-6">
          <div class="simple-alert">
            <i class="mi alert-icon">error_outline</i>
            <h4 class="text-center">
              <%= t('projects.no_projects_found') %>
            </h4>
          </div>
        </div>
      <% else %>
        <div class="col-md-6">
          <% if @activities_group.empty? %>
            <div class="simple-alert">
              <i class="mi alert-icon">error_outline</i>
              <h4 class="text-center"><%= t('projects.no_recent_activity') %></h4>
            </div>
          <% else %>
            <ul class="timeline">
              <%= render 'activities_group', activities_group: @activities_group %>
            </ul>
          <% end %>
        </div>
      <% end %>
      <div id="projects-search" class="col-md-6 projects">

        <div class="col-md-12">
          <%= form_tag '#', id: 'form_search', class: 'search-projects' do %>
            <div class="form-group col-md-12">
              <div class="input-group">
                <div class="input-group-addon"><i class="mi md-20 heading-icon">search</i></div>
                <%= text_field_tag 'projects_search', nil, placeholder: t('search projects'), class: 'form-control' %>

                <div class="input-group-addon">
                  <%= select_tag 'project_type',
                        options_for_select([t('All Projects'), t('Not Archived'), t('Archived')]),
                        class: 'unstyled-input' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <% if @projects[:is_member].present? %>
          <div
            id="my-projects"
            class="col-md-12"
            data-projects="<%= @projects[:is_member].to_json %>"
          >
            <div class="col-md-12">
              <h4><i class="mi md-20 heading-icon">view_module</i> <%= t('projects.mine') %> | <%= @projects[:is_member].size %></h4>
            </div>

          </div>
        <% end %>

        <% if @projects[:without_current_user].present? %>
          <div
            id="not-my-projects"
            class="col-md-12"
            data-projects="<%= @projects[:without_current_user].to_json %>"
          >
            <div class="col-md-12">
              <h4><i class="mi md-20 heading-icon">person_outline</i> <%= t('projects.not_member_of') %> | <%= @projects[:without_current_user].size %></h4>
              <h4>
                <small>
                  <%= t('projects.you_are_not_a_member') %>
                  <strong><%= t('join').downcase %></strong> <%= t('by_clicking').downcase %>
                  <strong><%= t('projects.join').upcase %></strong> link
                </small>
              </h4>
            </div>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
